
body{
    background-color: #d1d1d1;        
}
#p1{

}
.odd{
    
    border-radius: 10px;
    padding: 10px;
    font-size: larger;
    color:black;
    background-color: white;
    
}
#p2{
   
}
.barra-sup{
    border-style: outset;
    border-width: 10px;
    border-color: white;
    padding: 30px;
    color: white;
    background-color: white;

}
